{
  "presets": [
    "latest",
    "react"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": true,
        "regenerator": true,
        "moduleName": "babel-runtime"
      },
      "react-hot-loader/babel"
    ]
  ]
}