    .detailsInfo {
        background: darkslategray;
        padding: 2%;
        text-transform: capitalize;
        min-height: 50px;
        p {
            font-size: 1.6rem;
            color: white;
        }
    }