    p.timeShow {
        text-align: end
    }

    p.list-group-item-text {
        margin-bottom: .5rem
    }

    .navbar p {
        color: white
    }

    @media (min-width: 576px) {
        .modal-dialog,
        .modal-content {
            width: 500px
        }
    }

    @media (min-width: 768px) {
        .modal-dialog,
        .modal-content {
            width: 680px;
            transform: translate(-8%, 0);
        }
    }

    @media (min-width: 992px) {
        .modal-dialog,
        .modal-content {
            width: 880px;
            transform: translate(-15%, 0);
        }
    }

    @media (min-width: 1200px) {
        .modal-dialog,
        .modal-content {
            width: 1000px;
            transform: translate(-22%, 0);
        }
    }
